*, *::before, *::after{
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    padding: 0;
    margin: 0;
    position: absolute;
}
body, input, textarea{
    font: menu;
}
textarea, input, div, button{
    outline: none;
    margin: 0;
}
.content{
    height: 100vh;
    display: flex;
}
.raw-markdown, .render-html{
    min-height: 100%;
    max-width: 50%;
    flex-grow: 1;
    overflow: scroll;
    font-size: 16px;
}
.raw-markdown{
    border: 5px solid rgb(238, 252, 250);
    background-color: rgb(238, 252, 250);
    font-family: monospace;
}